<ul>
	<li>The most polished GTA V mod menu for use anywhere, any time</li>
	<li><abbr title="Join, spectate, or view the profile of anyone using their Social Club username or Rockstar ID (RID).">Rockstar ID Tools</abbr></li>
	<li>Unlock GTA Online (Skip Prologue)</li>
	<li>Unlock All Achievements</li>
</ul>
<p>And while you're in Story Mode:</p>
<ul>
	<li>Custom DLCs</li>
	<li>AR Notifications</li>
	<li>Watch_Dogs-Like World Hacking</li>
	<li><abbr title="Drive your vehicle with our custom remote control that's completely independent of your character, so you can drive while using the turret seat, etc. Or use the [Follow Me] option to have your vehicle automatically follow after you.">Remote Control</abbr></li>
	<li>Bone & Box ESP</li>
</ul>