<ul>
	<li>Everything from Basic</li>
	<li><abbr title="Allows you to view stats for any GTA Online player within Player History.">Remote Stats Viewer</abbr></li>
	<li><abbr title="The ability to view all game sessions and see who's in any session without actually joining it.">Session Browsing</abbr></li>
	<!--<li>Session Browser</li>-->
	<li><abbr title="Not just the Elegant crash.">More Crashes</abbr></li>
	<li>Desync Kick Karma</li>
	<li>World Editor</li>
	<li>Player Magnet</li>
	<li><abbr title="Cloaks your session for anyone trying to join, track, or spectate you.">Hide Session</abbr></li>
	<li>Player Bar</li>
	<li>Name ESP</li>
	<li>Type Out Player Names</li>
	<li>Paste In Chat Message</li>
	<li>Sing In Chat</li>
	<li>Block Join Karma</li>
	<li>Web Interface</li>
	<li>Radio Stations Manager</li>
</ul>
<p>And not just while in Story Mode:</p>
<ul>
	<li>Custom DLCs</li>
	<li>AR Notifications</li>
	<li>Watch_Dogs-Like World Hacking</li>
	<li><abbr title="Drive your vehicle with our custom remote control that's completely independent of your character, so you can drive while using the turret seat, etc. Or use the [Follow Me] option to have your vehicle automatically follow after you.">Remote Control</abbr></li>
	<li>Bone & Box ESP</li>
</ul>